body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
 
/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2d2d2d;
    padding:28px 20px;
    color: white;
}
 
/* Logo Styling */
.logo{
    font-size: 27px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
}

.logo:hover {
    color:rgb(177, 175, 175);
    cursor: pointer;
}
 
 
/* Navbar Styling */
.navbar ul {
    display: flex;
    gap: 20px;
    cursor: pointer;
}
 
.navbar a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
    cursor: pointer;
}
 
.navbar a:hover {
    cursor: pointer;
    color:rgb(177, 175, 175);
}

.imskjerm2024 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.informasjon {
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #4c5920;

}

.informasjonstekst {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #4c5920;
}
#e-post{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #4c5920;
}
.therest {
    color: #4c5920;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(227,218,201,1) 0%, rgba(148,216,220,1) 100%, rgba(0,212,255,1) 100%);
}
